h1{
  padding: 2rem;
}

h2{
  text-align: center;
}

.card{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.search {
  padding-left: 0.5rem;
}

.search label {
  padding: 0.2rem;
}
